$bg-primary: green;
$bg-secondary:blue;
$bg-primary:blue;


@mixin border-radius($rounded:10px){
  border-radius: $rounded;
  -moz-border-radius: $rounded;
  -webkit-border-radius: $rounded;
}

.container {
  background: $bg-primary;
  width: 999px;
  margin: 0 auto;

  >header {
    background: blue;
    height: 20px;
    @include border-radius(14px);
    > div {
      & + p {
        background: red;
      }
    }

    ul li {
      &:hover {
        color: green
      }
    }
  }
}

@warn "hihi";