@mixin position($postion,$x,$y) {
  @if ($postion == 'tl') {
    top: $x;
    left: $y;
  } @else if ($postion == 'tr') {
    top: $x;
    right: $y;
  } @else if ($postion == 'bl') {
    bottom: $x;
    left: $y;
  } @else if ($postion == 'br') {
    bottom: $x;
    right: $y;
  }
}

%border {
  border: 1px solid red;
}

.box {
  background: blue;
  width: 100px;
  height: 100px;
}

.box-clone {
  @extend .box, %border;
}

.parent {
  @extend %border;
  width: 500px;
  height: 500px;
  position: relative;

  > .child {
    @extend %border;
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    @include position('bl', 0, 0);
  }

  >.child-two{
    @include position('tr', 0, 0);
  }
}